@model PersonalManagement.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Số điện thoại";
}


@using ( Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }) )
{
    @Html.AntiForgeryToken()
    <h4>Thêm một số điện thoại</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
