@model PersonalManagement.Models.IndexViewModel
@{
    ViewBag.Title = "Cài đặt tài khoản";
}


@*<p class="text-success">@ViewBag.StatusMessage</p>*@
@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div id="msgAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.StatusMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div>
    <h4>Thay đổi cài đặt tài khoản của bạn</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.HasPassword)
        {
            <dt>Mật khẩu:</dt>
            <dd>
                [
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
                ]
            </dd>

        }
        <dt>Các đăng nhập bên ngoài:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Quản lí", "ManageLogins") ]
        </dd>
        <dt>Số điện thoại:</dt>
        <dd>
            @(Model.PhoneNumber ?? "Trống")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Thay đổi", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Xóa số điện thoại" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Thêm số điện thoại", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            }
        </dd>

        <dt>Xác thực 2 bước:</dt>
        <dd>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Kích hoạt
                        <input type="submit" value="Bỏ kích hoạt" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Bỏ kích hoạt
                        <input type="submit" value="Kích hoạt" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
    </dl>
</div>
