@model PersonalManagement.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Quản lí các đăng nhập bên thứ 3";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Không có các service đăng nhập bên thứ 3 được cấu hình
            </p>
        </div>
    }
    else
    {
        if (Model.CurrentLogins.Count > 0)
        {
            <h4>Các đăng nhập đã được đăng ký</h4>
            <table class="table">
                <tbody>
                    @foreach (var account in Model.CurrentLogins)
                    {
                        <tr>
                            <td>@account.LoginProvider</td>
                            <td>
                                @if (ViewBag.ShowRemoveButton)
                                {
                                    using (Html.BeginForm("RemoveLogin", "Manage"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div>
                                            @Html.Hidden("loginProvider", account.LoginProvider)
                                            @Html.Hidden("providerKey", account.ProviderKey)
                                            <input type="submit" class="btn btn-danger" value="Remove" title="Xóa đăng nhập @account.LoginProvider này khỏi tài khoản của bạn" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    @: &nbsp;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        if (Model.OtherLogins.Count > 0)
        {
            <h4>Các đăng nhập khả dụng</h4>

            using (Html.BeginForm("LinkLogin", "Manage"))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in Model.OtherLogins)
                        {
                            <button title="Đăng nhập sử dụng tài khoản @p.Caption của bạn" type="submit" class="btn btn-@p.AuthenticationType.ToLower() btn-user btn-block col-md-3" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fab fa-@p.AuthenticationType.ToLower() fa-fw"></i> @p.AuthenticationType</button>
                        }
                    </p>
                </div>
            }
        }
    }
}
