@model PersonalManagement.Models.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hover-item:hover .edit-btn {
        display: inline
    }

    .edit-btn {
        display: none;
        cursor: pointer
    }
</style>
<div class="container emp-profile">
    @using (Html.BeginForm("profile", "manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img id="imageResult" src="@Model.AvaUrl" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Cập nhật ảnh đại diện
                        <input type="file" id="upload" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <div class="h5 hover-item">
                        <span id="userName">@Model.Name</span>
                        @Html.HiddenFor(m => m.Name, new { @readonly = "readonly", @id = "userNameHd" })
                        <i id="nameEdit" class="fas fa-edit edit-btn" title="Click để sửa tên" data-toggle="modal" data-target="#nameModel"></i>
                        <div class="modal fade" id="nameModel" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chỉnh sửa tên</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="userNameIp" class="col-form-label">Nhập tên mới:</label>
                                            <input type="text" class="form-control" id="userNameIp">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng <i class="fas fa-ban"></i></button>
                                        <button type="button" class="btn btn-primary" id="userNameSave" data-dismiss="modal">Lưu <i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h6 hover-item">
                        <span id="job">@Model.JobTitle</span>
                        @Html.HiddenFor(m => m.JobTitle, new { @readonly = "readonly", @id = "jobHd" })
                        <i id="jobEdit" class="fas fa-edit edit-btn" title="Click để sửa nghề nghiệp" data-toggle="modal" data-target="#jobModel"></i>
                        <div class="modal fade" id="jobModel" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chỉnh sửa nghề nghiệp</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="jobIp" class="col-form-label">Nhập nghề nghiệp mới:</label>
                                            <input type="text" class="form-control" id="jobIp">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng <i class="fas fa-ban"></i></button>
                                        <button type="button" class="btn btn-primary" id="jobSave" data-dismiss="modal">Lưu <i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="proile-rating hover-item">
                        XẾP HẠNG : <span id="rank">8/10</span>
                        <i id="rankEdit" class="fas fa-edit edit-btn" title="Click để sửa xếp hạng" data-toggle="modal" data-target="#rankModel"></i>
                        <div class="modal fade" id="rankModel" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chỉnh sửa xếp hạng</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="rankIp" class="col-form-label">Chọn xếp hạng mới:</label>
                                            <input type="number" class="form-control" id="rankIp">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng <i class="fas fa-ban"></i></button>
                                        <button type="button" class="btn btn-primary" id="rankSave" data-dismiss="modal">Lưu <i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Về tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dòng thời gian</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>LINK LÀM VIỆC</p>
                    <div class="hover-item">
                        <a href="@Model.WorkLink" target="_blank" id="workLink">Link website</a>
                        @Html.HiddenFor(m => m.WorkLink, new { @readonly = "readonly", @id = "workLinkHd" })
                        <i id="workLinkEdit" class="fas fa-edit edit-btn" title="Click để sửa link website" data-toggle="modal" data-target="#workLinkModel"></i>
                        <div class="modal fade" id="workLinkModel" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chỉnh sửa link website</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="workLinkIp" class="col-form-label">Nhập link website mới:</label>
                                            <input type="text" class="form-control" id="workLinkIp">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng <i class="fas fa-ban"></i></button>
                                        <button type="button" class="btn btn-primary" id="workLinkSave" data-dismiss="modal">Lưu <i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>KĨ NĂNG</p>
                    @foreach (var skill in Model.Skills)
                    {
                        <div class="skill-name">@skill.SkillName</div>
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>Web Developer and Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary profile-edit-btn mt-3" name="btnAddMore" value="Cập nhật hồ sơ" />
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
    {
        <div id="msgAlert" class="alert alert-success alert-dismissible fade show mt-4" role="alert">
            @ViewBag.StatusMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

<script>
    var input = document.getElementById('upload');

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        setTimeout(function () {
            $('#msgAlert').fadeOut();
        }, 3000);
        $('#upload').on('change', function () {
            readURL(input);
        });
        $('#nameModel').on('click', '#userNameSave', function (e) {
            $("#userName").text($("#userNameIp").val());
            $("#userNameHd").val($("#userNameIp").val());
        });
        $(document).on("click", "#nameEdit", function () {
            $("#userNameIp").val($("#userName").text());
        });
        $('#workLinkModel').on('click', '#workLinkSave', function (e) {
            $("#workLink").attr("href", $("#workLinkIp").val());
            $("#workLinkHd").val($("#workLinkIp").val());
        });
        $(document).on("click", "#workLinkEdit", function () {
            $("#workLinkIp").val($("#workLink").attr("href"));
        });
        $('#jobModel').on('click', '#jobSave', function (e) {
            $("#job").text($("#jobIp").val());
            $("#jobHd").val($("#jobIp").val());
        });
        $(document).on("click", "#jobEdit", function () {
            $("#jobIp").val($("#job").text());
        });
        $('#rankModel').on('click', '#rankSave', function (e) {
            $("#rank").text($("#rankIp").val() + '/10');
        });
        $(document).on("click", "#rankEdit", function () {
            $("#rankIp").val($("#rank").text().substr(0, $("#rank").text().indexOf("/")));
        });
    });
</script>